google-cloud-aiplatform[adk,agent_engines]>=1.128.0
google-adk>=1.22.0
google-auth
pyyaml
opentelemetry-instrumentation-google-genai>=0.4b0
opentelemetry-instrumentation-sqlite3
opentelemetry-exporter-gcp-logging
opentelemetry-exporter-gcp-monitoring
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-vertexai>=2.0b0
fsspec[gcs]