google-cloud-aiplatform[adk,agent_engines]>=1.128.0
google-adk[a2a]>=1.34.0
google-auth
google-cloud-logging
pyyaml
opentelemetry-api>=1.36.0,<1.39.0
opentelemetry-sdk>=1.36.0,<1.39.0
httpx
cloud-sql-python-connector[asyncpg]
asyncpg
